version: '2'
services:
  wdqs:
    image: ghcr.io/wbstack/queryservice:0.3.6_0.6
    volumes:
      - query-service-data:/wdqs/data
    environment:
      - WIKIBASE_HOST=default.web.mw.localhost:8080
      - WDQS_HOST=wdqs.mw.localhost
      - WDQS_PORT=9999
      - WDQS_ENTITY_NAMESPACES=120,122,146
      - WIKIBASE_SCHEME=http
    restart: unless-stopped
    command: /runBlazegraph.sh
    networks:
      default:
        aliases:
          - wdqs.svc
    ports:
      - "9999:9999"
    expose:
      - 9999

  api:
    build:
      context: ./seeder/
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3030:3030"
    networks:
      default:
        aliases:
          - api.svc

  wdqs-updater:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - wdqs
    networks:
      default:
        aliases:
          - wdqs-updater.svc
    environment:
      - WBSTACK_LOOP_LIMIT=100
      - WBSTACK_API_ENDPOINT=http://api.svc:3030
      - WBSTACK_BATCH_SLEEP=1
      - WIKIBASE_HOST=wikibase.svc
      - HEAP_SIZE=32m

  wikibase:
    image: "${WIKIBASE_IMAGE_NAME}"
    links:
      - mysql
    depends_on:
      - mysql
    restart: unless-stopped
    ports:
      - "${WIKIBASE_PORT}:80"
    networks:
      default:
        aliases:
          - wikibase.svc # CONFIG - Add your real wikibase hostname here, only for internal names and when NOT terminating SSL outside the container.
    environment:
      DB_SERVER: mysql.svc:3306
      MW_ADMIN_NAME:
      MW_ADMIN_PASS: ${MW_ADMIN_PASS}
      MW_ADMIN_EMAIL: ${MW_ADMIN_EMAIL}
      MW_WG_SECRET_KEY: ${MW_SECRET_KEY}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      WIKIBASEHOST:
      MAX_JOBS: ${MAX_JOBS}

  mysql:
    image: "${MYSQL_IMAGE_NAME}"
    restart: unless-stopped
    volumes:
      - mediawiki-mysql-data:/var/lib/mysql
    environment:
      # CONFIG - Change the default values below (should match values passed to wikibase)
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    networks:
      default:
        aliases:
          - mysql.svc
volumes:
  query-service-data:
  mediawiki-mysql-data:
